<a href="https://colab.research.google.com/github/priyarajmohan/ML_projects/blob/main/car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
car = pd.read_csv('/content/car_sales_data.csv')

In [ ]:
car

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101
...,...,...,...,...,...,...,...
49995,BMW,M5,5.0,Petrol,2018,28664,113006
49996,Toyota,Prius,1.8,Hybrid,2003,105120,9430
49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852
49998,Ford,Focus,1.0,Diesel,2016,26468,23630
49999,VW,Golf,1.4,Diesel,2012,109300,10400

In [ ]:
car.shape

(50000, 7)

In [ ]:
car.dtypes

Manufacturer            object
Model                   object
Engine size            float64
Fuel type               object
Year of manufacture      int64
Mileage                  int64
Price                    int64
dtype: object

In [ ]:
car.isnull().sum()

Manufacturer           0
Model                  0
Engine size            0
Fuel type              0
Year of manufacture    0
Mileage                0
Price                  0
dtype: int64

In [ ]:
car.duplicated().sum()

np.int64(12)

In [ ]:
car.drop_duplicates(inplace=True)

In [ ]:
car.duplicated().sum()

np.int64(0)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
for i in car.select_dtypes(include='object').columns:
     car[i] = le.fit_transform(car[i])

In [ ]:
car

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,1,3,1.0,2,2002,127300,3074
1,2,0,4.0,2,2016,57850,49704
2,1,7,1.6,0,2014,39190,24072
3,3,11,1.8,1,1988,210814,1705
4,4,9,1.0,2,2006,127869,4101
...,...,...,...,...,...,...,...
49995,0,6,5.0,2,2018,28664,113006
49996,3,10,1.8,1,2003,105120,9430
49997,1,7,1.6,0,2022,4030,49852
49998,1,4,1.0,0,2016,26468,23630
49999,4,5,1.4,0,2012,109300,10400

In [ ]:
X=car.drop('Price',axis=1)
y = car['Price']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
s=MinMaxScaler()

In [ ]:
for i in X.columns:
  X[i]=s.fit_transform(X[[i]])

In [ ]:
X

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage
0,0.25,0.214286,0.00,1.0,0.473684,0.279682
1,0.50,0.000000,0.75,1.0,0.842105,0.126339
2,0.25,0.500000,0.15,0.0,0.789474,0.085139
3,0.75,0.785714,0.20,0.5,0.105263,0.464078
4,1.00,0.642857,0.00,1.0,0.578947,0.280938
...,...,...,...,...,...,...
49995,0.00,0.428571,1.00,1.0,0.894737,0.061898
49996,0.75,0.714286,0.20,0.5,0.500000,0.230710
49997,0.25,0.500000,0.15,0.0,1.000000,0.007507
49998,0.25,0.285714,0.00,0.0,0.842105,0.057049
49999,1.00,0.357143,0.10,0.0,0.736842,0.239939

In [ ]:
y

0          3074
1         49704
2         24072
3          1705
4          4101
          ...
49995    113006
49996      9430
49997     49852
49998     23630
49999     10400
Name: Price, Length: 49988, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

(39990, 6)

In [ ]:
X_test.shape

(9998, 6)

In [ ]:
y_train.shape

(39990,)

In [ ]:
y_test.shape

(9998,)

In [ ]:
from sklearn.linear_model import LinearRegression
Lr = LinearRegression()

In [ ]:
Lr.fit(X_train,y_train)
predicted = Lr.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,predicted)*100

68.1771786066552