<a href="https://colab.research.google.com/github/priyarajmohan/ML_projects/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
a = pd.Series((10,20,30),['p','q','r'])

In [ ]:
a

p    10
q    20
r    30
dtype: int64

In [ ]:
b = pd.Series(['1','2','3'],index = ['a','b','c'])
b

a    1
b    2
c    3
dtype: object

In [ ]:
k = pd.Series(['20','20','20'],index=['a','b','c'])
k

a    20
b    20
c    20
dtype: object

In [ ]:
l = pd.Series(['30','30','30'],index = ['a','b','c'])
l

a    30
b    30
c    30
dtype: object

In [ ]:
r = pd.Series(['1','2','3'],index = ['a','b','c'])
r

a    1
b    2
c    3
dtype: object