<a href="https://colab.research.google.com/github/priyarajmohan/ML_projects/blob/main/salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
salary = pd.read_csv("/content/Salary_Data.csv")

In [ ]:
salary

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [ ]:
salary.shape

(6704, 6)

In [ ]:
salary.dtypes

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

In [ ]:
salary.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [ ]:
salary.dropna(inplace=True)

In [ ]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6698 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6698 non-null   float64
 1   Gender               6698 non-null   object
 2   Education Level      6698 non-null   object
 3   Job Title            6698 non-null   object
 4   Years of Experience  6698 non-null   float64
 5   Salary               6698 non-null   float64
dtypes: float64(3), object(3)
memory usage: 366.3+ KB

In [ ]:
salary.duplicated().sum()

np.int64(4911)

In [ ]:
salary['Age']=salary['Age'].astype(int)

In [ ]:
salary

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28,Female,Master's,Data Analyst,3.0,65000.0
2,45,Male,PhD,Senior Manager,15.0,150000.0
3,36,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49,Female,PhD,Director of Marketing,20.0,200000.0
6700,32,Male,High School,Sales Associate,3.0,50000.0
6701,30,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26,Female,High School,Sales Executive,1.0,35000.0

In [ ]:
salary.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [ ]:
salary.drop_duplicates(inplace=True)

In [ ]:
salary.duplicated().sum()

np.int64(0)

In [ ]:
salary.shape

(1787, 6)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
for i in salary.select_dtypes(include=['object']).columns:
  salary[i]=le.fit_transform(salary[i])

In [ ]:
salary

      Age  Gender  Education Level  Job Title  Years of Experience    Salary
0      32       1                0        175                  5.0   90000.0
1      28       0                3         18                  3.0   65000.0
2      45       1                5        144                 15.0  150000.0
3      36       0                0        115                  7.0   60000.0
4      52       1                3         25                 20.0  200000.0
...   ...     ...              ...        ...                  ...       ...
6623   43       0                4         23                 15.0  150000.0
6624   27       1                2        118                  2.0   40000.0
6625   33       0                1         33                  8.0   80000.0
6628   37       1                1        116                  7.0   90000.0
6631   30       0                1        118                  5.0   70000.0

[1787 rows x 6 columns]

In [ ]:
X = salary.drop('Salary',axis=1)
y = salary['Salary']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
s = MinMaxScaler()

In [ ]:
for i in X.columns:
  X[i]=s.fit_transform(X[[i]])

In [ ]:
X

           Age  Gender  Education Level  Job Title  Years of Experience
0     0.268293     0.5         0.000000   0.921053             0.147059
1     0.170732     0.0         0.500000   0.094737             0.088235
2     0.585366     0.5         0.833333   0.757895             0.441176
3     0.365854     0.0         0.000000   0.605263             0.205882
4     0.756098     0.5         0.500000   0.131579             0.588235
...        ...     ...              ...        ...                  ...
6623  0.536585     0.0         0.666667   0.121053             0.441176
6624  0.146341     0.5         0.333333   0.621053             0.058824
6625  0.292683     0.0         0.166667   0.173684             0.235294
6628  0.390244     0.5         0.166667   0.610526             0.205882
6631  0.219512     0.0         0.166667   0.621053             0.147059

[1787 rows x 5 columns]

In [ ]:
y

0        90000.0
1        65000.0
2       150000.0
3        60000.0
4       200000.0
          ...
6623    150000.0
6624     40000.0
6625     80000.0
6628     90000.0
6631     70000.0
Name: Salary, Length: 1787, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((1429, 5), (358, 5), (1429,), (358,))

In [ ]:
from sklearn.linear_model import LinearRegression
Lr = LinearRegression()

In [ ]:
Lr.fit(X_train,y_train)
predicted = Lr.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,predicted)*100

66.20641110461875